*{
    margin: 0;
}
body{
    background-color: rgb(19, 73, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    color: rgb(160, 159, 159);
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.text{
    font-weight: bold;
    font-size: 35px;
}
.button{
    text-align: center;
    margin-top: 30px;
}

.btn{
    font-size: 15px;
    padding: 7px 25px;
    margin: 0px 8px;
    border: none;
    cursor: pointer;
    color: white;
}

#start{
    background-color: rgb(17, 145, 90);
}
#stop{
    background-color: rgb(219, 123, 251);
}
#reset{
    background-color: rgb(210, 62, 62);
}